.page {
	position: relative;
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100dvh;
	place-items: center;
	overflow: auto;
}

.toolbar {
	position: absolute;
}

.card {
	width: 100%;
}

.header {
	text-align: center;
}

.footer {
	max-width: 100%;
	overflow-wrap: anywhere;
	text-align: center;
}
